<center><h1>Welcome to the superhero poll page!</h1></center>

<center><form action='/cool_url' method='POST'>
  <label>First Name<input type = 'text' id = 'first_name' name = 'first_name'></label><br>

  <label>Last Name<input type = 'text' id = 'last_name' name = 'last_name'></label><br>

  <label>Email<input type = 'text' id = 'email' name = 'email'></label><br>

  <label>Which is your favorite superhero?<br>

  <input type = 'radio' id = 'superhero' name = 'superhero' value = 'batman'>Batman<input type = 'radio' id = 'superhero' name = 'superhero' value = 'superman'>Superman</label>

  <label><input type="submit"></label>

</form></center>
