<center><h1>Results:</h1></center>

<div class="results">

</div>

<div>
  <center><%=@results[:first_name]%></center><br>
  <center><%=@results[:last_name]%></center><br>
  <center><%=@results[:email]%></center><br>
  <center><%=@results[:superhero]%></center><br>  
</div>


